In [1]:
%load_ext autoreload
%autoreload 2

# Weather and Affect

## References

- [Weather Conditions - OpenWeatherMap](https://openweathermap.org/weather-conditions)

## Overview

Is there a correlation between current weather conditions and affective states?

- Assign emotion label to entries
- Determine weather code
- Plot frequency

In [3]:
import pandas as pd

from pathlib import Path

In [4]:
data_dir = Path("../data/")

In [5]:
files = list(data_dir.glob("*.csv"))

In [6]:
files

[PosixPath('../data/2075-6-9-DayOne.csv'),
 PosixPath('../data/018ddb0871178004f720631bcfcad79b.csv'),
 PosixPath('../data/01cebc061bbd5852bf3e9249dd2dd08e.csv')]

In [161]:
weather_df1 = pd.read_csv(files[1])
weather_df2 = pd.read_csv(files[2])

In [164]:
weather_df1.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,9.3,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,10.8,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,NaN,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,NaN,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n

In [163]:
weather_df2.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1496275200,2017-06-01 00:00:00 +0000 UTC,-25200,San Francisco,37.774929,-122.419415,16.38,NaN,13.30,16.21,...,NaN,NaN,NaN,NaN,NaN,71,803,Clouds,broken clouds,04d
1,1496278800,2017-06-01 01:00:00 +0000 UTC,-25200,San Francisco,37.774929,-122.419415,15.91,NaN,13.39,15.78,...,NaN,NaN,NaN,NaN,NaN,65,803,Clouds,broken clouds,04d
2,1496282400,2017-06-01 02:00:00 +0000 UTC,-25200,San Francisco,37.774929,-122.419415,15.27,NaN,13.12,15.12,...,NaN,NaN,NaN,NaN,NaN,73,803,Clouds,broken clouds,04d
3,1496286000,2017-06-01 03:00:00 +0000 UTC,-25200,San Francisco,37.774929,-122.419415,14.37,NaN,13.74,14.37,...,NaN,NaN,NaN,NaN,NaN,76,803,Clouds,broken clouds,04d
4,1496289600,2017-06-01 04:00:00 +0000 UTC,-25200,San Francisco,37.774929,-122.419415,14.01,NaN,13.54,14.00,...,NaN,NaN,NaN,NaN,NaN,80,803,Clouds,broken clouds,04n

In [167]:
weather_df = pd.concat([weather_df1, weather_df2])

In [168]:
weather_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,9.3,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,10.8,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,NaN,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,NaN,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n

In [169]:
weather_df.to_csv("/home/jovyan/work/research/data/weather.csv")

In [171]:
weather_df["date"] = weather_df["dt_iso"].apply(lambda r: r[:19])

In [172]:
pd.to_datetime(df["date"])

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
                 ...
213298   2022-07-03 19:00:00
213299   2022-07-03 20:00:00
213300   2022-07-03 21:00:00
213301   2022-07-03 22:00:00
213302   2022-07-03 23:00:00
Name: date, Length: 213303, dtype: datetime64[ns]

In [173]:
weather_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2011-01-01 00:00:00
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2011-01-01 01:00:00
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 02:00:00
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 03:00:00
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 04:00:00

In [175]:
weather_df[["dt", "dt_iso", "feels_like", "temp", "weather_description"]]

,dt,dt_iso,feels_like,temp,weather_description
0,1293840000,2011-01-01 00:00:00 +0000 UTC,12.86,13.07,overcast clouds
1,1293843600,2011-01-01 01:00:00 +0000 UTC,6.44,9.54,overcast clouds
2,1293847200,2011-01-01 02:00:00 +0000 UTC,7.34,9.50,light rain
3,1293850800,2011-01-01 03:00:00 +0000 UTC,6.48,8.80,light rain
4,1293854400,2011-01-01 04:00:00 +0000 UTC,6.00,8.94,light rain
...,...,...,...,...,...
40195,1640977200,2021-12-31 19:00:00 +0000 UTC,9.55,9.55,sky is clear
40196,1640980800,2021-12-31 20:00:00 +0000 UTC,9.41,10.57,sky is clear
40197,1640984400,2021-12-31 21:00:00 +0000 UTC,10.34,11.51,sky is clear
40198,1640988000,2021-12-31 22:00:00 +0000 UTC,11.18,12.40,sky is clear
40199,1640991600,2021-12-31 23:00:00 +0000 UTC,11.31,12.47,few clouds

In [176]:
weather_df.loc[(df['date'] >= '2014-11-30') & (df['date'] < '2014-12-01') & (df['city_name'] == 'Champaign')]

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
143187,1417305600,2014-11-30 00:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,11.21,10000.0,8.61,10.58,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2014-11-30 00:00:00
143188,1417309200,2014-11-30 01:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,9.51,9656.0,8.12,6.72,...,NaN,NaN,NaN,NaN,1,701,Mist,mist,50n,2014-11-30 01:00:00
143189,1417312800,2014-11-30 02:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.46,10000.0,8.56,9.86,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n,2014-11-30 02:00:00
143190,1417316400,2014-11-30 03:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.94,10000.0,9.03,10.39,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 03:00:00
143191,1417320000,2014-11-30 04:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.89,10000.0,9.32,10.38,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 04:00:00
143192,1417323600,2014-11-30 05:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.48,9656.0,9.24,9.99,...,NaN,NaN,NaN,NaN,1,701,Mist,mist,50n,2014-11-30 05:00:00
143193,1417327200,2014-11-30 06:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.45,8047.0,9.21,9.95,...,NaN,NaN,NaN,NaN,1,701,Mist,mist,50n,2014-11-30 06:00:00
143194,1417330800,2014-11-30 07:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,10.47,9656.0,9.23,9.97,...,NaN,NaN,NaN,NaN,1,701,Mist,mist,50n,2014-11-30 07:00:00
143195,1417334400,2014-11-30 08:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,11.02,10000.0,9.93,10.61,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 08:00:00
143196,1417338000,2014-11-30 09:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,11.94,10000.0,10.84,11.62,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 09:00:00
143197,1417341600,2014-11-30 10:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,12.23,10000.0,11.13,11.94,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 10:00:00
143198,1417345200,2014-11-30 11:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,12.38,10000.0,10.95,12.05,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 11:00:00
143199,1417348800,2014-11-30 12:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,12.48,10000.0,11.38,12.21,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-11-30 12:00:00
143200,1417352400,2014-11-30 13:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,12.48,10000.0,11.38,12.21,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-11-30 13:00:00
143201,1417356000,2014-11-30 14:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,13.30,10000.0,12.19,13.11,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-11-30 14:00:00
143202,1417359600,2014-11-30 15:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,14.54,10000.0,12.40,14.32,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02d,2014-11-30 15:00:00
143203,1417363200,2014-11-30 16:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,15.90,10000.0,13.02,15.71,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04d,2014-11-30 16:00:00
143204,1417366800,2014-11-30 17:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,16.93,10000.0,13.27,16.74,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,2014-11-30 17:00:00
143205,1417370400,2014-11-30 18:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,17.86,10000.0,13.17,17.63,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,2014-11-30 18:00:00
143206,1417374000,2014-11-30 19:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,17.80,10000.0,13.11,17.57,...,0.21,NaN,NaN,NaN,90,500,Rain,light rain,10d,2014-11-30 19:00:00
143207,1417377600,2014-11-30 20:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,15.04,10000.0,12.18,14.77,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04d,2014-11-30 20:00:00
143208,1417381200,2014-11-30 21:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,8.83,9656.0,6.62,5.23,...,NaN,NaN,NaN,NaN,90,701,Mist,mist,50d,2014-11-30 21:00:00
143209,1417384800,2014-11-30 22:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,4.65,4023.0,3.46,-0.68,...,NaN,NaN,NaN,NaN,90,701,Mist,mist,50d,2014-11-30 22:00:00
143210,1417388400,2014-11-30 23:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,2.99,4828.0,1.20,-2.51,...,NaN,NaN,NaN,NaN,90,701,Mist,mist,50n,2014-11-30 23:00:00

In [177]:
weather_descriptions = weather_df["weather_description"].unique()

In [178]:
weather_descriptions.sort()

In [179]:
weather_descriptions

array(['broken clouds', 'drizzle', 'dust', 'few clouds', 'fog',
       'freezing rain', 'haze', 'heavy intensity drizzle',
       'heavy intensity rain', 'heavy snow', 'light intensity drizzle',
       'light intensity shower rain', 'light rain', 'light rain and snow',
       'light shower snow', 'light snow', 'mist', 'moderate rain',
       'overcast clouds', 'proximity thunderstorm', 'proximity tornado',
       'scattered clouds', 'shower drizzle', 'shower rain',
       'sky is clear', 'smoke', 'snow', 'squalls', 'thunderstorm',
       'thunderstorm with heavy rain', 'thunderstorm with light drizzle',
       'thunderstorm with light rain', 'thunderstorm with rain',
       'very heavy rain'], dtype=object)

In [32]:
entries = pd.read_csv("/home/jovyan/work/research/data/2075-6-9-DayOne.csv")

In [33]:
entries.head()

,date,text,uuid,duration,starred,isPinned,editingTime,modifiedDate,creationDevice,timeZoneIdentifier,...,locationTimeZoneName,locationUserLabel,locationUserType,regionCenterLatitude,regionCenterLongitude,regionRadius,activityName,ignoreStepCount,stepCount,mediaMD5s
0,2018-06-24T22:32:17.676Z,New journal who dis?\nI am wary of putting pri...,7B1F99DAFEE14499AFE7059582B6D261,0,False,False,0.0,2018-11-27T19:46:25.240Z,cyberdeck75,America/Chicago,...,NaN,NaN,NaN,41.936707,-87.676758,75.0,NaN,NaN,NaN,NaN
1,2018-06-25T05:34:28.030Z,Introduction\nThis will be where I log how I a...,7AECFE5C41DE471CBF6F1C9717B4120B,0,False,False,0.0,2018-11-27T19:46:25.240Z,cyberdeck75,America/Chicago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-06-25T05:35:33.856Z,Everything\nThe news cycle these days is all a...,AE8DC51CB1A6402CB9E774E9D66FD2F2,0,False,False,0.0,2018-11-27T19:46:25.239Z,cyberdeck75,America/Chicago,...,NaN,NaN,NaN,NaN,NaN,NaN,Stationary,True,-1.0,NaN
3,2018-06-26T20:06:49.645Z,D\nI think it is best that I do not go camping...,169B379A850F416FA6ABBD6EE9B4F8A7,0,False,False,0.0,2018-11-27T19:46:25.241Z,cyberdeck75,America/Los_Angeles,...,NaN,NaN,NaN,37.774719,-122.426392,75.0,Stationary,True,-1.0,NaN
4,2018-06-29T15:36:09.520Z,Regular Writing Goal\nIt is stunning how much ...,E4B6F3BE590F4DCDB0618F845CBEDCDC,0,False,False,0.0,2018-11-27T19:46:25.240Z,cyberdeck75,America/Los_Angeles,...,NaN,NaN,NaN,37.774715,-122.426422,75.0,Stationary,True,-1.0,NaN

In [35]:
entries.weatherCode

0           mostly-cloudy
1                     NaN
2                     NaN
3                   clear
4                   clear
5             clear-night
6                     NaN
7           partly-cloudy
8     mostly-cloudy-night
9           partly-cloudy
10          partly-cloudy
11          mostly-cloudy
12          mostly-cloudy
13          mostly-cloudy
14           cloudy-night
15                 cloudy
16          partly-cloudy
17          partly-cloudy
18                 cloudy
19                 cloudy
20                    NaN
21          partly-cloudy
22          mostly-cloudy
23          partly-cloudy
24                 cloudy
25          partly-cloudy
26           cloudy-night
27                    fog
28          partly-cloudy
29           cloudy-night
30          partly-cloudy
31          partly-cloudy
32           cloudy-night
33          mostly-cloudy
34           cloudy-night
35          partly-cloudy
36          mostly-cloudy
37                  clear
38                  clear
39           cloudy-night
40           cloudy-night
41                    NaN
42                    fog
43    mostly-cloudy-night
44             rain-night
45    mostly-cloudy-night
46                 cloudy
47                    NaN
48           cloudy-night
49                   rain
50           cloudy-night
51                    NaN
52            clear-night
53            clear-night
54           cloudy-night
55                    NaN
56            clear-night
57          mostly-cloudy
58                    NaN
Name: weatherCode, dtype: object

In [180]:
weather_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2011-01-01 00:00:00
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2011-01-01 01:00:00
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 02:00:00
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 03:00:00
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n,2011-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40195,1640977200,2021-12-31 19:00:00 +0000 UTC,-28800,San Francisco,37.774929,-122.419415,9.55,NaN,3.94,9.55,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,2021-12-31 19:00:00
40196,1640980800,2021-12-31 20:00:00 +0000 UTC,-28800,San Francisco,37.774929,-122.419415,10.57,NaN,4.49,9.41,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,2021-12-31 20:00:00
40197,1640984400,2021-12-31 21:00:00 +0000 UTC,-28800,San Francisco,37.774929,-122.419415,11.51,NaN,4.49,10.34,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,2021-12-31 21:00:00
40198,1640988000,2021-12-31 22:00:00 +0000 UTC,-28800,San Francisco,37.774929,-122.419415,12.40,NaN,4.13,11.18,...,NaN,NaN,NaN,NaN,2,800,Clear,sky is clear,01d,2021-12-31 22:00:00
40199,1640991600,2021-12-31 23:00:00 +0000 UTC,-28800,San Francisco,37.774929,-122.419415,12.47,NaN,4.69,11.31,...,NaN,NaN,NaN,NaN,22,801,Clouds,few clouds,02d,2021-12-31 23:00:00

In [181]:
weather_df.iloc[0]

dt                                        1293840000
dt_iso                 2011-01-01 00:00:00 +0000 UTC
timezone                                      -21600
city_name                                    Chicago
lat                                        41.878114
lon                                       -87.629798
temp                                           13.07
visibility                                   10000.0
dew_point                                      11.97
feels_like                                     12.86
temp_min                                        7.14
temp_max                                       13.34
pressure                                        1005
sea_level                                        NaN
grnd_level                                       NaN
humidity                                          93
wind_speed                                       5.1
wind_deg                                         170
wind_gust                                        9.3
rain_1h                                          NaN
rain_3h                                          NaN
snow_1h                                          NaN
snow_3h                                          NaN
clouds_all                                        90
weather_id                                       804
weather_main                                  Clouds
weather_description                  overcast clouds
weather_icon                                     04n
date                             2011-01-01 00:00:00
Name: 0, dtype: object

In [182]:
weather_df.iloc[1]

dt                                        1293843600
dt_iso                 2011-01-01 01:00:00 +0000 UTC
timezone                                      -21600
city_name                                    Chicago
lat                                        41.878114
lon                                       -87.629798
temp                                            9.54
visibility                                   10000.0
dew_point                                       8.47
feels_like                                      6.44
temp_min                                        7.02
temp_max                                       12.84
pressure                                        1005
sea_level                                        NaN
grnd_level                                       NaN
humidity                                          93
wind_speed                                       6.7
wind_deg                                         170
wind_gust                                       10.8
rain_1h                                          NaN
rain_3h                                          NaN
snow_1h                                          NaN
snow_3h                                          NaN
clouds_all                                        90
weather_id                                       804
weather_main                                  Clouds
weather_description                  overcast clouds
weather_icon                                     04n
date                             2011-01-01 01:00:00
Name: 1, dtype: object

In [80]:
entries_df = pd.read_csv("/home/jovyan/work/research/data/entries.csv")

In [81]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04T05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,NaN
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05T03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,NaN
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05T18:00:10,joy,angry|disgusted,POSITIVE,NaN
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10T18:00:01,neutral,angry|devastated,POSITIVE,NaN
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12T21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,NaN
...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18T06:25:11,neutral,joyful|terrified,NEGATIVE,New York
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07T21:09:47,neutral,terrified,POSITIVE,NaN
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28T05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29T00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09T21:00:00,surprise,trusting|devastated,POSITIVE,Boston

In [83]:
entries_df.loc[(entries_df['date'] >= '2012-08-01') & (entries_df['date'] < '2014-08-01')]

,id,_hash,uuid,date,emotion,context,sentiment,city_name
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04T05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,NaN
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05T03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,NaN
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05T18:00:10,joy,angry|disgusted,POSITIVE,NaN
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10T18:00:01,neutral,angry|devastated,POSITIVE,NaN
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12T21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,NaN
...,...,...,...,...,...,...,...,...
145,20140723162428,315d616e67f325ee3c3d879afa107eb7,E245A43C685E40329AE598DD7C521FD6,2014-07-23T16:24:28,fear,apprehensive|angry|prepared,POSITIVE,NaN
146,20140723220500,ab49022c865b630c7b5f8b5a7cac519f,733F15B3D3534371A5B5BF0768F57D2B,2014-07-23T22:05:00,neutral,disappointed|afraid|trusting,POSITIVE,NaN
147,20140724002657,e1e19d764bfe558198ce662d5e11a5e8,C1EED33985AD43BA9FBF1269B265DC13,2014-07-24T00:26:57,neutral,disappointed|anticipating|annoyed|joyful|senti...,NEGATIVE,NaN
148,20140724014100,ba0305793e1f7850e41b625af0a3c2ee,104938472F3345DEAE2C31365CE35085,2014-07-24T01:41:00,neutral,apprehensive|terrified|annoyed|devastated|angr...,NEGATIVE,NaN
149,20140731014540,a48829fcbd388757ad2529a4973f161c,6284707F99334D77A90B6BB05D560A4D,2014-07-31T01:45:40,sadness,apprehensive|anticipating|excited|angry,NEGATIVE,NaN

In [84]:
entries_df.loc[~entries_df['city_name'].isna()]

,id,_hash,uuid,date,emotion,context,sentiment,city_name
188,20180624223217,e0c0c995f69b0ec17ace64cda05cbb18,7B1F99DAFEE14499AFE7059582B6D261,2018-06-24T22:32:17,fear,proud,POSITIVE,Chicago
191,20180626200649,e703c75fd71064a5c2b5526440792125,169B379A850F416FA6ABBD6EE9B4F8A7,2018-06-26T20:06:49,neutral,guilty,NEGATIVE,San Francisco
192,20180629153609,664301a2b98f90df3c6854cbc2060e61,E4B6F3BE590F4DCDB0618F845CBEDCDC,2018-06-29T15:36:09,surprise,trusting,POSITIVE,San Francisco
193,20180630074210,a6f1c9b38d49f04d8af30c658dc84629,4696CD3DF2694313BD10B649013B67A5,2018-06-30T07:42:10,sadness,angry|excited|anxious|trusting,NEGATIVE,San Francisco
195,20180710154751,a63d7ee271a70aec9b98a0acc3a8ce05,39D2109F966D458B87D94F2BC850B82D,2018-07-10T15:47:51,neutral,sentimental|joyful|angry|annoyed|excited|trusting,NEGATIVE,San Francisco
196,20180717030211,d3000a088ecfe27434262336482092ee,F3A3A48179C04C10845DD558AE0BD754,2018-07-17T03:02:11,fear,sentimental,POSITIVE,Boston
197,20180726204959,df199a16ecbd08ee7ac266eeb1d93955,2A709313630E4BB8A5FD1ABEFF4E57B1,2018-07-26T20:49:59,neutral,angry|terrified|anticipating,NEGATIVE,San Francisco
198,20180727003323,635bb2fb06e1384f8277a71181aaaa8b,387B7F2681914745AA59FB0F87D61097,2018-07-27T00:33:23,sadness,anxious|apprehensive|devastated|hopeful|angry|...,NEGATIVE,San Francisco
199,20180729170630,0f2254cf9ae63edc0f770c0af16671e8,2C1AD2EB90274C82A857F91C93BA4158,2018-07-29T17:06:30,neutral,angry|content|terrified|trusting|disgusted,NEGATIVE,San Francisco
200,20180730161753,d5354d0866b348d72029c1e4a2749d16,D569878EF6D04E75827AF2B3F7B9A636,2018-07-30T16:17:53,disgust,sentimental|angry|proud|annoyed,NEGATIVE,San Francisco
201,20180731051221,0ed8c1955f39641b40adfda939739f1a,87C3C4DF26214BDCBFDEDA0DE1893E34,2018-07-31T05:12:21,sadness,apprehensive|angry|terrified|proud,NEGATIVE,San Francisco
202,20180801152308,7d6f5d5bfff62393e2d0319e7f4feafd,B310EEFD5B894909BDCD6EF457A50F5E,2018-08-01T15:23:08,neutral,angry|anticipating,NEGATIVE,San Francisco
203,20180801192745,ab3e72658d2aa0797abe55de950fb084,CFFE227FFF2A4C3D9266794250E3FF28,2018-08-01T19:27:45,sadness,anticipating|proud|terrified|annoyed|angry|con...,NEGATIVE,San Francisco
204,20180801212711,23ad763efff1b3f68f98344fee34949f,58C62860AB5B4D7A92B7A0B2758207D1,2018-08-01T21:27:11,sadness,excited|angry|jealous|joyful|anticipating|appr...,NEGATIVE,San Francisco
205,20180802161746,17b4c53aec7c5ccac936a236306955e4,8EEC212F15BA415E88D04D37AEBA09C6,2018-08-02T16:17:46,sadness,angry|joyful|terrified,NEGATIVE,San Francisco
206,20180802171128,f5addad95ddb978e10b3c9af0153f71a,56EAFABD5214438F810768F617282DC9,2018-08-02T17:11:28,anger,jealous|annoyed|angry,NEGATIVE,San Francisco
208,20180805180927,7561300317e9d05b772e5b46aee127d3,2A1CDAB8F10A4323A068D5AB7455CAA3,2018-08-05T18:09:27,sadness,angry|proud|guilty|trusting|surprised|joyful|t...,NEGATIVE,San Francisco
209,20180806172251,8fc1caf04ca8c0e6717fc2e140d7df07,F5C90CC2D445440DB1E44EC01E0C017E,2018-08-06T17:22:51,anger,angry|excited|devastated,NEGATIVE,San Francisco
210,20180810175153,4ba009ec57f124f1f3f09f9103ea43be,6115460CEF9B4146A6F218741B3D86A0,2018-08-10T17:51:53,sadness,angry,NEGATIVE,Chicago
211,20180816184129,913040afb82076bd27e432460e319e55,48D3CE77A0FF49169601AF4A9701C58E,2018-08-16T18:41:29,joy,anticipating,POSITIVE,San Francisco
212,20180824071204,b9cb985636fe3fb33806bf63e06b232a,14D954A272544377B47006BC7929619B,2018-08-24T07:12:04,neutral,caring|content|proud|joyful|angry|devastated|s...,NEGATIVE,San Francisco
213,20180824155521,d827803fa8f6cb3684425c351f928440,19CBE6CE06A448D89485333CC9904E2F,2018-08-24T15:55:21,neutral,terrified,NEGATIVE,San Francisco
214,20180826001619,d212185ecf4b2de1afcf435e80c4a391,3FD020C0EC954E469BEF928136E8BBE2,2018-08-26T00:16:19,fear,angry,NEGATIVE,San Francisco
215,20180827042720,9b449d4f87669b1801c03296ca11b9c7,F9516C7522874441B5E6DA153C9FCDF9,2018-08-27T04:27:20,sadness,anticipating|angry|devastated|joyful,NEGATIVE,San Francisco
216,20180829192659,522d1e6147a5a1e611109b97a8aa5f09,77B748719D8E404DA6247D7A2AF406D4,2018-08-29T19:26:59,sadness,anticipating|angry|terrified,NEGATIVE,San Francisco
217,20180903045519,8a4b560a1eb08fbb6b86c8d51608d57b,F03B0312B7DC4F849DAE63E69A40E547,2018-09-03T04:55:19,sadness,anticipating|terrified,POSITIVE,San Francisco
218,20180916073352,68b70ba6d637f0b682b184259659889e,F1A5DF8CB50C4362B67A771D9D10E8DA,2018-09-16T07:33:52,fear,angry,NEGATIVE,San Francisco
219,20180924165032,1f6815bc1f85baa6ec99cf996b6ea33c,C1A3EFAC6BEC41FE82768219D8915395,2018-09-24T16:50:32,sadness,apprehensive|terrified,NEGATIVE,San Francisco
220,20181002191508,43f03c6855aaa0adf6fc019985d32559,842E2C7A7B504D658336A6750A324377,2018-10-02T19:15:08,sadness,terrified,NEGATIVE,San Francisco
221,20181012165727,6680d7a6e5f7fba865dbfd1765e10476,4E097FEF171A4D2E9C0EC99AD07DEFE7,2018-10-12T16:57:27,sadness,sentimental,NEGATIVE,San Francisco
222,20181016174920,23f5ca79c12c18ded26c78dd38934e9c,604BC8FBDF3B4507A0219C35A189DBD4,2018-10-16T17:49:20,sadness,sentimental|terrified,NEGATIVE,San Francisco
223,20181018063421,f483aa96d02bb4ba2e7c62c5a8987745,5C2C7275FB6F4C64BAB30B051C9811C9,2018-10-18T06:34:21,disgust,devastated,NEGATIVE,San Francisco
224,20181111025141,4fe6f329a2293fc3513ff75df432079d,9DEFCCF623DB45F5B1FC0D2EEA12F1F8,2018-11-11T02:51:41,neutral,joyful,NEGATIVE,San Francisco
226,20181130160332,1346ff48485dca022f091ae5c88e7ce5,1D2037B85BBE481CA3BF1CAAF4A730EE,2018-11-30T16:03:32,sadness,anticipating|joyful,NEGATIVE,Chicago
227,20181213011704,28f86861544503487508b1e11faa93de,03F8DF8CA0A349E9AFBE015CCE2ED43A,2018-12-13T01:17:04,sadness,angry,NEGATIVE,San Francisco
228,20181217052128,75ae735984de2448a129f4fcf4731931,2625E6D15E924BCA8445AA45A357053F,2018-12-17T05:21:28,joy,caring|angry|terrified,NEGATIVE,San Francisco
229,20181231033022,c9b47ec06340ac538211b02133689da5,F1C89142987A4BABB1469E0809B616C3,2018-12-31T03:30:22,sadness,annoyed|joyful,NEGATIVE,Chicago
230,20190128172241,68e27720d326fad83f2ad58c20b90775,076F3C85D1CD4FAAAFE491B5C869C14F,2019-01-28T17:22:41,sadness,joyful|sentimental,NEGATIVE,San Francisco
232,20190228030711,e7e2d3b75a8245d65e0899c3959959a4,39AA848D542A42D1A3471DCE0C1FB6B6,2019-02-28T03:07:11,sadness,annoyed,NEGATIVE,San Francisco
233,20190302184029,fe30d3c8d9dd0ce3f5b8f2fb2e1faeea,937750322C0A4048A84E4B9A701E589B,2019-03-02T18:40:29,fear,anticipating|disgusted|angry|proud|annoyed|tru...,NEGATIVE,San Francisco
234,20190422052116,7ec63eb9e81cadbd0bb6f43b9f64c042,CAE4542CC0AB4E57A20FC62B6A5A1A4E,2019-04-22T05:21:16,sadness,angry|anticipating|disappointed|joyful,NEGATIVE,San Francisco
236,20210716041658,24871c4018e55d2300e314086e190845,F2215238719243CF8BBBF53A904A8368,2021-07-16T04:16:58,sadness,proud|terrified,POSITIVE,New York
237,20210716041829,8d72485892d1c5ac2d97c4d4e2c46884,5412C191F38847488F868824B7CAB4B5,2021-07-16T04:18:29,neutral,terrified|jealous,POSITIVE,New York
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18T06:25:11,neutral,joyful|terrified,NEGATIVE,New York
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28T05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29T00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09T21:00:00,surprise,trusting|devastated,POSITIVE,Boston

In [85]:
entries_df.loc[(entries_df['date'] > '2014-07-31') & (entries_df['date'] < '2017-06-01'), "city_name"] = "Champaign"

In [86]:
entries_df.loc[(entries_df['date'] > '2014-07-31') & (entries_df['date'] < '2017-06-01')]

,id,_hash,uuid,date,emotion,context,sentiment,city_name
149,20140731014540,a48829fcbd388757ad2529a4973f161c,6284707F99334D77A90B6BB05D560A4D,2014-07-31T01:45:40,sadness,apprehensive|anticipating|excited|angry,NEGATIVE,Champaign
150,20140814044247,499c9e552a8a059fdb53cdcdd3ab1f6b,D976E3CAB73A4B9AA3A94EFBE2A62B1A,2014-08-14T04:42:47,anger,anticipating|proud|apprehensive,NEGATIVE,Champaign
151,20140814203647,5d5e35b6859e0f8a0272d43d1ceeebad,F1D0E7DA8A4F44DD904E2657DD0D6B95,2014-08-14T20:36:47,sadness,anticipating,POSITIVE,Champaign
152,20140823064608,acc2f8e391354fe5f42952297907b56f,BBE4453BAE634893BB7B3406E7890ACF,2014-08-23T06:46:08,neutral,anticipating|content|angry|trusting|devastated...,NEGATIVE,Champaign
153,20140828145808,dd83dd37cf7eb34d501219fc26147714,4B62B363B4BC410AA031F4835A614D44,2014-08-28T14:58:08,neutral,angry|apprehensive,NEGATIVE,Champaign
154,20140830231350,8c6207fa53b8cab3abcda2507b1d3ce0,EBEA1684EB474853BD313059C1AF554D,2014-08-30T23:13:50,sadness,angry|annoyed|apprehensive|disgusted|anxious|a...,NEGATIVE,Champaign
155,20140901032300,e770a1159c699751f3577236de91ba1e,0E4AACDCD481495AA75A9EC62B83CABB,2014-09-01T03:23:00,sadness,anticipating|apprehensive|devastated|terrified...,NEGATIVE,Champaign
156,20140901210508,92499619eca98923f6d4cf56a1634ef7,68E42F5AFAE94CA7AF564E6A1F404088,2014-09-01T21:05:08,sadness,angry|proud|disgusted,NEGATIVE,Champaign
157,20140903035307,3159748898516b07c40e5f3893aecc19,16AC1157B4C047AAA880C16DCACA3505,2014-09-03T03:53:07,sadness,angry|trusting|devastated|anxious|joyful|appre...,NEGATIVE,Champaign
158,20141107021249,7d2d9db42c6596d4895ab8c54517a9d3,C0A2608AF9664EF7AA7CB22388D5189F,2014-11-07T02:12:49,sadness,angry|apprehensive|anticipating,NEGATIVE,Champaign
159,20141108221051,9ede36bc2df878aadd438769b306279e,62080ED4C9934AB19C5B82253549CC53,2014-11-08T22:10:51,sadness,angry|content|terrified|annoyed,NEGATIVE,Champaign
160,20141116083554,c2fa89da7e9051285151b68f60f0d1f4,76299592F38A4893A5608429FEBDBA28,2014-11-16T08:35:54,neutral,apprehensive|sentimental|guilty,POSITIVE,Champaign
161,20141120221219,1a07c1f15660c4336fedd758cf5cf61d,A94B511F52704817AC679B358CAFB62F,2014-11-20T22:12:19,sadness,angry|anxious,POSITIVE,Champaign
162,20141206173022,86ac8bed972e139bc61d6d96cb56383f,0F6BD4C7CA3740CCBB3A1E447E630CC5,2014-12-06T17:30:22,neutral,angry|disgusted,POSITIVE,Champaign
163,20141207070429,e2a128bd31fdc4909de25e90d75f2383,325BC6B6B03F4958BD7E60841E271489,2014-12-07T07:04:29,sadness,angry|annoyed,POSITIVE,Champaign
164,20141210010121,44951e443f4a5c09f4a925d8b6bd65c0,365DFB003368417E9BC1BD36D20B4444,2014-12-10T01:01:21,neutral,angry|apprehensive|anticipating,NEGATIVE,Champaign
165,20141211041015,64f2c9fbd3230dde7fc52db00e10078a,2D514725293E4BF8B90E9AAFA7CB5947,2014-12-11T04:10:15,sadness,angry|disgusted,POSITIVE,Champaign
166,20141220184841,228ec42ad5bf86fd9a2c3497621e7ce1,0F2F36A7BFBC45C1A6956615D538B152,2014-12-20T18:48:41,neutral,angry|proud,POSITIVE,Champaign
167,20141225174831,e174b02ad879dc2f986a7ec1a6460d9b,7D59A2DAB8454A5D8486A41F2754BD48,2014-12-25T17:48:31,neutral,angry|excited|joyful,POSITIVE,Champaign
168,20141231160058,cdc7b2bd6d446b456d4535c24825be27,DAB8EE353CAF470E88C1B23FEC89BA18,2014-12-31T16:00:58,fear,angry|content|excited|annoyed|terrified|sentim...,NEGATIVE,Champaign
169,20150102050358,0775e63931b0f872fbd36f6c6fefe756,112F42A44B2A47E3A41AE122857CAB0B,2015-01-02T05:03:58,neutral,angry|excited|afraid|anxious|trusting|devastat...,NEGATIVE,Champaign
170,20150108051600,5d970156bf9cd18061bf0bd6d7ec4090,BDFE327CCC024C34825C1012D828BBB2,2015-01-08T05:16:00,sadness,angry|anticipating|excited|annoyed,NEGATIVE,Champaign
171,20150109024416,82eb7a52bce90b7a4853c99a2fd0b1d1,D5504632DC38447C85B72D35850C69E6,2015-01-09T02:44:16,sadness,angry|anxious|anticipating|annoyed|trusting,NEGATIVE,Champaign
172,20150111070910,3a0b13ef7237ccd3e7cc1352684ddc76,91BB8FEAC6DE42D3A34A6D2920BD1F8F,2015-01-11T07:09:10,neutral,angry|afraid|anticipating|joyful|terrified,POSITIVE,Champaign
173,20150228061315,d9405e98558e9475b98aef80c52b48c7,97A13CDC157E4755B982640C936C9761,2015-02-28T06:13:15,sadness,angry|anticipating|terrified,NEGATIVE,Champaign
174,20150308021116,195c6aa2f02fa28b1b09a37e54a5a38c,43F07970E33542699849F3F6DA41A932,2015-03-08T02:11:16,joy,angry|joyful|content|sentimental|surprised|dis...,POSITIVE,Champaign
175,20150403025245,22f025ccdc517b699126cfcd9867d3bd,705811E3EFE4414F932C54F87730C7DC,2015-04-03T02:52:45,sadness,angry|annoyed|joyful,NEGATIVE,Champaign
176,20150403145252,0581e6eade8c0c999a32cc729cba9b02,F22D8445AC0042349427703D2C6D5C61,2015-04-03T14:52:52,anger,angry|terrified,POSITIVE,Champaign
177,20150413170714,cdac2972678e29930a2025ff7b5558d1,1EF96822E2F44B8ABE947D8A5354E93F,2015-04-13T17:07:14,neutral,angry|anxious|hopeful|excited|trusting,NEGATIVE,Champaign
178,20150424233745,f0fd4f9d8a7e3f0e1d4ffd28b42079b0,281AD84A2C3948CEB54671D2D9E468A0,2015-04-24T23:37:45,neutral,angry|apprehensive|trusting|anticipating|annoyed,NEGATIVE,Champaign
179,20150426022710,9f02d45573618aad14defe29667858b7,AB3B2C6660DA494E92B37616F05D8AB9,2015-04-26T02:27:10,surprise,angry|content|joyful|trusting|sentimental,POSITIVE,Champaign
180,20150819025613,2c164fa7d3b19070202e0099d6296f8b,810ED8551A224C9898FF69B70BB0B888,2015-08-19T02:56:13,neutral,angry|anticipating|apprehensive|proud|anxious|...,POSITIVE,Champaign
181,20150904162748,d58c119cccd173c6a1f08c3f8f48d8dc,0156ECF10DB8408386EB2F94B9885667,2015-09-04T16:27:48,disgust,angry|apprehensive|terrified|annoyed|devastate...,NEGATIVE,Champaign
182,20151001040608,91d402989433b34f4818f33be4d11ed4,0D5A3CE25991495E87C2B7CFA3105AA3,2015-10-01T04:06:08,sadness,angry|sentimental|anxious|anticipating,POSITIVE,Champaign
183,20151005170000,495559a20f2bed5428f3710ef85fc936,DD4FCA77E1514428A55569C41526A5EA,2015-10-05T17:00:00,neutral,disappointed|terrified,POSITIVE,Champaign
184,20151005232416,a14340c3bfe01e601ee6e1532a48c7ef,0485C00D73BD4A5FB716E1FCB27698CC,2015-10-05T23:24:16,sadness,angry|joyful|anxious|anticipating|apprehensive...,NEGATIVE,Champaign
185,20151007005341,0dcbe8f8a7fbbef77ce7fd44947c5027,88DD05BA88904C458D4ACE2C7D057DF2,2015-10-07T00:53:41,sadness,angry|terrified,NEGATIVE,Champaign
186,20151012215339,53b82300a995b56238660016a1495926,E55417E369C047EFAEDC3FAB91F3BFC4,2015-10-12T21:53:39,neutral,angry|anticipating|content,NEGATIVE,Champaign
187,20160806183448,41668c016d8d09aa23fae4630b71ac27,45BB7B50CD1F40459B0AD067FF50A640,2016-08-06T18:34:48,sadness,angry|anticipating,NEGATIVE,Champaign

In [90]:
entries_df.loc[(entries_df['date'] < '2014-08-01'), "city_name"] = "Chicago"

In [91]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04T05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,Chicago
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05T03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,Chicago
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05T18:00:10,joy,angry|disgusted,POSITIVE,Chicago
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10T18:00:01,neutral,angry|devastated,POSITIVE,Chicago
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12T21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,Chicago
...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18T06:25:11,neutral,joyful|terrified,NEGATIVE,New York
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07T21:09:47,neutral,terrified,POSITIVE,NaN
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28T05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29T00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09T21:00:00,surprise,trusting|devastated,POSITIVE,Boston

In [92]:
entries_df.loc[entries_df["city_name"].isna()]

,id,_hash,uuid,date,emotion,context,sentiment,city_name
189,20180625053428,3880c117a74dbb50b502d031a421edf8,7AECFE5C41DE471CBF6F1C9717B4120B,2018-06-25T05:34:28,neutral,proud,POSITIVE,NaN
190,20180625053533,b50c251df9b7c0a275c2b4a1f30ac397,AE8DC51CB1A6402CB9E774E9D66FD2F2,2018-06-25T05:35:33,disgust,anxious|sentimental|joyful|terrified|hopeful,NEGATIVE,NaN
194,20180709031329,e5cc94ccad206677a8ea4c8093d986e5,8F31CF0AC65B4F619BCCB784A765D5E2,2018-07-09T03:13:29,sadness,angry|disgusted|anxious|trusting,NEGATIVE,NaN
207,20180805170717,80eee46e72829551a334d8d914cc3500,B0B6D8E1AA5349B9B9B2FB522AB1452C,2018-08-05T17:07:17,neutral,proud|angry|sentimental|apprehensive,NEGATIVE,NaN
225,20181127194656,8f07455200fa28539a652c72d16cae3e,62A44A02CAAF4586AC1D23A6513128C6,2018-11-27T19:46:56,sadness,prepared|angry|trusting|anticipating,NEGATIVE,NaN
231,20190204182342,d6b0a321d7b52e0e1249e08fc33508c5,F03792ED182F425EACD5471FB23D9890,2019-02-04T18:23:42,neutral,disgusted,POSITIVE,NaN
235,20210713004328,03e4ff22aa75d45283dd264ab098f2d9,8758F0FB2F7A46F1B233FF97563F82F0,2021-07-13T00:43:28,sadness,apprehensive|anticipating|terrified,NEGATIVE,NaN
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07T21:09:47,neutral,terrified,POSITIVE,NaN

In [96]:
entries_df.loc[(entries_df['date'] >= '2017-06-01') & (entries_df['date'] < '2020-01-01') & entries_df['city_name'].isna(), "city_name"] = "San Francisco"

In [99]:
entries_df.loc[entries_df['city_name'].isna(), "city_name"] = "Chicago"

In [101]:
entries_df.to_csv("/home/jovyan/work/research/data/entries_fixed.csv")

In [102]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04T05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,Chicago
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05T03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,Chicago
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05T18:00:10,joy,angry|disgusted,POSITIVE,Chicago
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10T18:00:01,neutral,angry|devastated,POSITIVE,Chicago
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12T21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,Chicago
...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18T06:25:11,neutral,joyful|terrified,NEGATIVE,New York
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07T21:09:47,neutral,terrified,POSITIVE,Chicago
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28T05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29T00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09T21:00:00,surprise,trusting|devastated,POSITIVE,Boston

In [128]:
entries_df["date"] = pd.to_datetime(entries_df["date"])

In [129]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04 05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,Chicago
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05 03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,Chicago
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05 18:00:10,joy,angry|disgusted,POSITIVE,Chicago
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10 18:00:01,neutral,angry|devastated,POSITIVE,Chicago
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12 21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,Chicago
...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18 06:25:11,neutral,joyful|terrified,NEGATIVE,New York
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07 21:09:47,neutral,terrified,POSITIVE,Chicago
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28 05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29 00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09 21:00:00,surprise,trusting|devastated,POSITIVE,Boston

In [183]:
row = entries_df.iloc[0]
date = row["date"]

In [184]:
date

Timestamp('2012-08-04 05:37:31')

In [188]:
weather_df["date"] = pd.to_datetime(weather_df["date"])

In [189]:
weather_df.loc[(weather_df["date"] >= date) & (weather_df["date"] < date + pd.DateOffset(hours=1)) & (weather_df["city_name"] == "Champaign")]

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
121706,1344060000,2012-08-04 06:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,23.52,10000.0,20.66,24.12,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2012-08-04 06:00:00

In [208]:
def get_weather(date, city_name):
    return weather_df.loc[(weather_df["date"] >= date) & (weather_df["date"] < date + pd.DateOffset(hours=1)) & (weather_df["city_name"] == city_name), "weather_description"]

In [209]:
get_weather(entries_df.iloc[2].date, "San Francisco")

Series([], Name: weather_description, dtype: object)

In [214]:
entries_df["weather"] = entries_df.apply(lambda e: "|".join(get_weather(e.date, e.city_name).values), axis=1)

In [215]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name,weather
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04 05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,Chicago,sky is clear
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05 03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,Chicago,scattered clouds
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05 18:00:10,joy,angry|disgusted,POSITIVE,Chicago,scattered clouds
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10 18:00:01,neutral,angry|devastated,POSITIVE,Chicago,broken clouds
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12 21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,Chicago,broken clouds
...,...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18 06:25:11,neutral,joyful|terrified,NEGATIVE,New York,
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07 21:09:47,neutral,terrified,POSITIVE,Chicago,light rain
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28 05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago,few clouds
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29 00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck,
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09 21:00:00,surprise,trusting|devastated,POSITIVE,Boston,

In [217]:
entries_df["weather"].value_counts()

sky is clear                                         53
overcast clouds                                      44
scattered clouds                                     42
broken clouds                                        27
few clouds                                           26
light rain                                           18
mist                                                  8
                                                      6
light snow                                            5
moderate rain                                         4
light rain|mist                                       2
haze                                                  2
moderate rain|mist                                    1
heavy intensity rain|mist                             1
mist|light rain                                       1
light snow|mist                                       1
thunderstorm with light rain|heavy intensity rain     1
light rain and snow|moderate rain                     1
Name: weather, dtype: int64

In [218]:
entries_df.to_csv("/home/jovyan/work/research/data/entries_with_weather.csv")

In [219]:
entries_df

,id,_hash,uuid,date,emotion,context,sentiment,city_name,weather
0,20120804053731,7e94b8882e5c9c731b703efd17fd6cae,2031417A85A7497591746749EA445757,2012-08-04 05:37:31,fear,angry|devastated|excited|proud,NEGATIVE,Chicago,sky is clear
1,20120805033926,26de79ceb5312d7766a29f9d71e2850e,0C46A121B5A746D7981F412858FE3F4E,2012-08-05 03:39:26,fear,angry|anticipating|trusting|anxious|joyful,NEGATIVE,Chicago,scattered clouds
2,20120805180010,da5dbe3810084cdc93451bc4d8d39de1,DA284A7F3ABE46DA9BBA7D1BE3E8147E,2012-08-05 18:00:10,joy,angry|disgusted,POSITIVE,Chicago,scattered clouds
3,20120810180001,e5c57f8675256bed9cef0ff800a30ed7,1F9040107E1B42339FD0E7928DE98C39,2012-08-10 18:00:01,neutral,angry|devastated,POSITIVE,Chicago,broken clouds
4,20120812211044,37bb3374881a12fb7d568f98a455bd96,3E541DD7F6204876BA964DDA3411C613,2012-08-12 21:10:44,neutral,angry|apprehensive|anticipating|excited|terrif...,NEGATIVE,Chicago,broken clouds
...,...,...,...,...,...,...,...,...,...
238,20210718062511,ae1f896aa8999d2c5c3b9543c0e4bf4a,413D6185B13C4BDBA3AE9B8C29237944,2021-07-18 06:25:11,neutral,joyful|terrified,NEGATIVE,New York,
239,20210807210947,68b329da9893e34099c7d8ad5cb9c940,4FF15B5F612841D4A533ECF014AAB5ED,2021-08-07 21:09:47,neutral,terrified,POSITIVE,Chicago,light rain
240,20210828053633,85e53e507fc613478699f21e1e6ebc90,473AB1B87CA84079872520C585AE3904,2021-08-28 05:36:33,anger,proud|excited|angry,NEGATIVE,Chicago,few clouds
241,20220629001153,2e6f10ed44e23ba91c0f9c36b5b83b09,FD44D72956044DA49B208FE1362DC513,2022-06-29 00:11:53,sadness,content|apprehensive,POSITIVE,Teaneck,
242,20750609210000,5372c2e4211c6c19d625f4ccbdaf9b3f,8BDC932925094F71A2719BC25287B7D5,2075-06-09 21:00:00,surprise,trusting|devastated,POSITIVE,Boston,

In [220]:
entries_df["emotion"].value_counts()

neutral     94
sadness     88
fear        24
joy         11
disgust     10
surprise     9
anger        7
Name: emotion, dtype: int64

In [221]:
entries_df["sentiment"].value_counts()

NEGATIVE    148
POSITIVE     95
Name: sentiment, dtype: int64