In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
# Weather and Affect

## References

- [Weather Conditions - OpenWeatherMap](https://openweathermap.org/weather-conditions)

## Overview

Is there a correlation between current weather conditions and affective states?

- Assign emotion label to entries
- Determine weather code
- Plot frequency

In [2]:
import pandas as pd

from pathlib import Path

In [6]:
data_dir = Path("../data/")

In [7]:
files = list(data_dir.glob("*.csv"))

In [8]:
files

[PosixPath('../data/2075-6-9-DayOne.csv'),
 PosixPath('../data/018ddb0871178004f720631bcfcad79b.csv'),
 PosixPath('../data/01cebc061bbd5852bf3e9249dd2dd08e.csv')]

In [16]:
filename = files[1]
filename

PosixPath('../data/018ddb0871178004f720631bcfcad79b.csv')

In [17]:
df = pd.read_csv(filename)
df.shape

(213303, 28)

In [18]:
df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,9.3,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,10.8,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,NaN,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,NaN,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n

In [20]:
df.columns

Index(['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'visibility', 'dew_point', 'feels_like', 'temp_min', 'temp_max',
       'pressure', 'sea_level', 'grnd_level', 'humidity', 'wind_speed',
       'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h',
       'clouds_all', 'weather_id', 'weather_main', 'weather_description',
       'weather_icon'],
      dtype='object')

In [19]:
df[["dt", "dt_iso", "feels_like", "temp", "weather_description"]]

,dt,dt_iso,feels_like,temp,weather_description
0,1293840000,2011-01-01 00:00:00 +0000 UTC,12.86,13.07,overcast clouds
1,1293843600,2011-01-01 01:00:00 +0000 UTC,6.44,9.54,overcast clouds
2,1293847200,2011-01-01 02:00:00 +0000 UTC,7.34,9.50,light rain
3,1293850800,2011-01-01 03:00:00 +0000 UTC,6.48,8.80,light rain
4,1293854400,2011-01-01 04:00:00 +0000 UTC,6.00,8.94,light rain
...,...,...,...,...,...
213298,1656874800,2022-07-03 19:00:00 +0000 UTC,29.57,30.19,sky is clear
213299,1656878400,2022-07-03 20:00:00 +0000 UTC,30.14,30.69,sky is clear
213300,1656882000,2022-07-03 21:00:00 +0000 UTC,30.36,30.88,sky is clear
213301,1656885600,2022-07-03 22:00:00 +0000 UTC,30.22,30.97,sky is clear
213302,1656889200,2022-07-03 23:00:00 +0000 UTC,29.94,30.52,sky is clear

In [26]:
weather_descriptions = df["weather_description"].unique()

In [29]:
weather_descriptions.sort()

In [30]:
weather_descriptions

array(['broken clouds', 'drizzle', 'dust', 'few clouds', 'fog',
       'freezing rain', 'haze', 'heavy intensity drizzle',
       'heavy intensity rain', 'heavy snow', 'light intensity drizzle',
       'light intensity shower rain', 'light rain', 'light rain and snow',
       'light shower snow', 'light snow', 'mist', 'moderate rain',
       'overcast clouds', 'proximity thunderstorm', 'proximity tornado',
       'scattered clouds', 'shower drizzle', 'shower rain',
       'sky is clear', 'smoke', 'snow', 'squalls', 'thunderstorm',
       'thunderstorm with heavy rain', 'thunderstorm with light drizzle',
       'thunderstorm with light rain', 'thunderstorm with rain',
       'very heavy rain'], dtype=object)