In [1]:
%load_ext autoreload
%autoreload 2

# Weather and Affect

## References

- [Weather Conditions - OpenWeatherMap](https://openweathermap.org/weather-conditions)

## Overview

Is there a correlation between current weather conditions and affective states?

- Assign emotion label to entries
- Determine weather code
- Plot frequency

In [3]:
import pandas as pd

from pathlib import Path

In [4]:
data_dir = Path("../data/")

In [5]:
files = list(data_dir.glob("*.csv"))

In [6]:
files

[PosixPath('../data/2075-6-9-DayOne.csv'),
 PosixPath('../data/018ddb0871178004f720631bcfcad79b.csv'),
 PosixPath('../data/01cebc061bbd5852bf3e9249dd2dd08e.csv')]

In [7]:
filename = files[1]
filename

PosixPath('../data/018ddb0871178004f720631bcfcad79b.csv')

In [8]:
df = pd.read_csv(filename)
df.shape

(213303, 28)

In [9]:
df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1293840000,2011-01-01 00:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,13.07,10000.0,11.97,12.86,...,9.3,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,1293843600,2011-01-01 01:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.54,10000.0,8.47,6.44,...,10.8,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1293847200,2011-01-01 02:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,9.50,10000.0,8.43,7.34,...,NaN,0.20,NaN,NaN,NaN,90,500,Rain,light rain,10n
3,1293850800,2011-01-01 03:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.80,10000.0,7.09,6.48,...,NaN,0.12,NaN,NaN,NaN,90,500,Rain,light rain,10n
4,1293854400,2011-01-01 04:00:00 +0000 UTC,-21600,Chicago,41.878114,-87.629798,8.94,10000.0,6.73,6.00,...,NaN,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10n

In [18]:
len("2011-01-01 00:00:00")

19

In [21]:
df["date"] = df["dt_iso"].apply(lambda r: r[:19])

In [22]:
pd.to_datetime(df["date"])

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
                 ...
213298   2022-07-03 19:00:00
213299   2022-07-03 20:00:00
213300   2022-07-03 21:00:00
213301   2022-07-03 22:00:00
213302   2022-07-03 23:00:00
Name: date, Length: 213303, dtype: datetime64[ns]

Index(['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'visibility', 'dew_point', 'feels_like', 'temp_min', 'temp_max',
       'pressure', 'sea_level', 'grnd_level', 'humidity', 'wind_speed',
       'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h',
       'clouds_all', 'weather_id', 'weather_main', 'weather_description',
       'weather_icon'],
      dtype='object')

In [12]:
df[["dt", "dt_iso", "feels_like", "temp", "weather_description"]]

,dt,dt_iso,feels_like,temp,weather_description
0,1293840000,2011-01-01 00:00:00 +0000 UTC,12.86,13.07,overcast clouds
1,1293843600,2011-01-01 01:00:00 +0000 UTC,6.44,9.54,overcast clouds
2,1293847200,2011-01-01 02:00:00 +0000 UTC,7.34,9.50,light rain
3,1293850800,2011-01-01 03:00:00 +0000 UTC,6.48,8.80,light rain
4,1293854400,2011-01-01 04:00:00 +0000 UTC,6.00,8.94,light rain
...,...,...,...,...,...
213298,1656874800,2022-07-03 19:00:00 +0000 UTC,29.57,30.19,sky is clear
213299,1656878400,2022-07-03 20:00:00 +0000 UTC,30.14,30.69,sky is clear
213300,1656882000,2022-07-03 21:00:00 +0000 UTC,30.36,30.88,sky is clear
213301,1656885600,2022-07-03 22:00:00 +0000 UTC,30.22,30.97,sky is clear
213302,1656889200,2022-07-03 23:00:00 +0000 UTC,29.94,30.52,sky is clear

In [27]:
df.loc[(df['date'] >= '2014-09-01') & (df['date'] < '2015-01-01') & (df['city_name'] == 'Champaign')]

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
140929,1409529600,2014-09-01 00:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,26.32,10000.0,22.59,26.32,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d,2014-09-01 00:00:00
140930,1409533200,2014-09-01 01:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,24.60,10000.0,22.48,25.41,...,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n,2014-09-01 01:00:00
140931,1409536800,2014-09-01 02:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,23.96,10000.0,22.22,24.76,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-09-01 02:00:00
140932,1409540400,2014-09-01 03:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,23.97,10000.0,21.86,24.72,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-09-01 03:00:00
140933,1409544000,2014-09-01 04:00:00 +0000 UTC,-18000,Champaign,40.11642,-88.243383,22.87,10000.0,21.68,23.64,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-09-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144020,1420052400,2014-12-31 19:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,-5.89,10000.0,-15.10,-12.89,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-12-31 19:00:00
144021,1420056000,2014-12-31 20:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,-5.27,10000.0,-13.80,-12.25,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-12-31 20:00:00
144022,1420059600,2014-12-31 21:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,-5.19,10000.0,-13.27,-12.15,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-12-31 21:00:00
144023,1420063200,2014-12-31 22:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,-5.61,10000.0,-12.19,-12.61,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d,2014-12-31 22:00:00
144024,1420066800,2014-12-31 23:00:00 +0000 UTC,-21600,Champaign,40.11642,-88.243383,-6.40,10000.0,-12.95,-13.40,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2014-12-31 23:00:00

In [13]:
weather_descriptions = df["weather_description"].unique()

In [14]:
weather_descriptions.sort()

In [30]:
weather_descriptions

array(['broken clouds', 'drizzle', 'dust', 'few clouds', 'fog',
       'freezing rain', 'haze', 'heavy intensity drizzle',
       'heavy intensity rain', 'heavy snow', 'light intensity drizzle',
       'light intensity shower rain', 'light rain', 'light rain and snow',
       'light shower snow', 'light snow', 'mist', 'moderate rain',
       'overcast clouds', 'proximity thunderstorm', 'proximity tornado',
       'scattered clouds', 'shower drizzle', 'shower rain',
       'sky is clear', 'smoke', 'snow', 'squalls', 'thunderstorm',
       'thunderstorm with heavy rain', 'thunderstorm with light drizzle',
       'thunderstorm with light rain', 'thunderstorm with rain',
       'very heavy rain'], dtype=object)

In [ ]:
df.loc[df["dt_iso"]